<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
	<!--
        <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-4">{{ .Site.Title }}</h1></a>
        <a class="nav-item" href="{{ .Site.BaseURL }}"><img src="/images/awilkinsidau.png"/></a>
	-->
	<a class="nav-item" href="{{ .Site.BaseURL }}">
	<h1 class="title is-4" style="color: #666666; font-weight: bold">
	a<span style="color:#4a83d4; font-weight: bold">wilkins</span>.id.<span style="color:#4a83d4; font-weight: bold">au</span>
	</h1>
	</a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          {{ range .Site.Params.social }}
          <a class="level-item" href="{{ .url }}">
            <span class="icon">
              <i class="fa {{ .fa_icon }}"></i>
            </span>
          </a>
          {{ end }}
        </nav>
      </div>
    </nav>
  </div>
</section>
