<section class="section">
  <div class="container">
    {{ range sort .Paginator.Pages }}
    <article>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <div class="content">
        {{ .Content }}
      </div>
      <h2 class="subtitle is-6">
      Posted {{ .Date.Format "January 2, 2006" }}.
      {{ if .Params.tags }}Tags: {{ range $i, $tag := .Params.tags }} {{ if gt $i 0 }}, {{ end }} <a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ . }}</a>{{ end }}.{{ end }}
      </h2>
    </article>
    {{ end }}
  </div>
</section>
